<%- include("partials/header") -%>

  <h1>Book Tracker</h1>
  <h3>Create your own personalized digital book shelf</h3>
  <a href="/login">Login</a>
  <a href="/signup">Signup</a>

<%- include("partials/footer") -%>