.navbar-toggler-icon{
  font-size: 0.7em;
}

.navbar-toggler{
  padding: 5px;
}

.no-collapse-form {
  width: 40%;
}

.profile h1, .profile .user-shelves h2 {
  max-width: 700px;
}

.user-info span {
  width: 150px;
}