body {
  background-color: #F2EFE7;
}

/*********** HEADER ***********/
header {
  background-color: #B1A593;
}

.navbar-toggler-icon{
  font-size: 0.7em;
}

.navbar-toggler{
  padding: 5px;
}

header nav .no-collapse-form {
  width: 40%;
}

/*********** MODALS ***********/
.view-book form button, .my-books .modal-body button {
  width: 90%;
  max-width: 350px;
}

/*********** PROFILE ***********/
.profile h1, .user-shelves h2 {
  max-width: 700px;
}

.user-info span, .user-shelves span {
  width:150px;
}

/*********** MY BOOKS ***********/
.bookcard {
  width: 300px;
  height: 150px;
  background-color: white;
}

.book-thumb img {
  width: 75px;
}

.bookcard .book-info {
  flex-basis: 95%;
}

/*********** QUOTES ***********/
.quotecard {
  background-color: white;
  max-width: 350px;
}

/*********** VIEW BOOK ***********/
.info-content {
  max-width: 700px;
}

.info-img > button {
  width: 95%;
}