.navbar-toggler-icon{
  font-size: 0.7em;
}

.navbar-toggler{
  padding: 5px;
}

header nav .no-collapse-form {
  width: 40%;
}

.profile h1, .user-shelves h2 {
  max-width: 700px;
}

.user-info span, .user-shelves span {
  width:150px;
}

.my-books .book-thumbnail {
  width: 80px;
}